#pagina1 {
    background-image: url("assets/Bogota.webp");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

#pagina2 {
    background-image: url("assets/paris.webp");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

#pagina3 {
    background-image: url("assets/London.webp");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

#pagina4 {
    background-image: url("assets/Sydney.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

#pagina5 {
    background-image: url("assets/Toronto.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

#VacaS {
    background-image: url("assets/vaca.webp");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

#cow {
    width: 10vw;
}

h1 {
    background-color: antiquewhite;
    width: fit-content;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

p {
    background-color: aliceblue;
    width: fit-content;
    font-family: 'Courier New', Courier, monospace;
}